<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Viztkarte/static/css/abaut.css">
    <title>About</title>
</head>
<body>
    <div class="container">
        <h1>Edvards Torsters-Makauskis</h1>
        <h2>Python junior developer</h2>
        <div class="image">
            <img src="/Viztkarte/static/image/My-img.jpg" alt="">
        </div>
        <div class="typewriter">
            <p id="text">
                Es esmu Python junior developers. Mācos Rīgas Valsts Tehnikuma par Programmēšanas tehniķi. Dzīvoju Rīgā.
                Latviešu valodas zināšanas ir augsta un angļu valodu zināšanas vidējas. Īpaši nav nekādu darba pieredzes šajā jomā, bet māku strādāt ar Django un flask.
                Māku strādāt ar datubāzi Mysql. Ir ari pieredze pie citām programēšanas valodām piemēram:C# un C++.
            </p>
        </div>
    </div>

</body>

<script src="/Viztkarte/static/js/abaut.js"></script>
</html>