<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/Viztkarte/static/css/index.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/77c18eb9f0.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <div class="backgroun">
        <nav>
            <h1 class="logo">Edvards</h1>
            <ul>
                <li><a href="/Viztkarte/template/abaut.html">About</a></li>
                <li><a href="/Viztkarte/template/contact.html">Contact</a></li>
            </ul>
        </nav>
    </div>
    <div class="text-box">
        <p>I'm</p>
        <h1>Edvards</h1>
        <h2>Torsters-Makauskis</h2>
        <h3>Python junior developer</h3>

        <div class="row">
            <a href="/Viztkarte/static/document/CV.docx" download>Download my CV</a>
            <a href="/Viztkarte/template/contact.html">Connect with me</a>
        </div>
    </div>

    <div class="wrapper">
        <a class="button" href="https://www.facebook.com/edvards.torstersmakauskis" target="_blank"  style="color: black; text-decoration: none;">
            <div class="icon"><i class="fa-brands fa-facebook-f"></i></div>
            <span>Facebook</span>
        </a>
        <a class="button" href="https://www.instagram.com/edvards.t.m/" target="_blank"  style="color: black; text-decoration: none;">
            <div class="icon"><i class="fa-brands fa-instagram"></i></div>
            <span>Instagram</span>
        </a>
        <a class="button" href="https://steamcommunity.com/id/BasistaPlay" target="_blank"  style="color: black; text-decoration: none;">
            <div class="icon"><i class="fa-brands fa-steam"></i></div>
            <span>Steam</span>
        </a>
        <a class="button" href="https://github.com/BasistaPlay" target="_blank"  style="color: black; text-decoration: none;">
            <div class="icon"><i class="fa-brands fa-github"></i></div>
            <span>Github</span>
        </a>
    </div>
</body>
</html>