

.video{
  margin-top: -500px;
  margin-left: -10px;
  left: 0;
  width: 99vw;
  height: 96vw;
  filter: blur(2px);
  display:flex;
}


.overlay-content {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(4, 27, 37, 0.555);
  width: 100vw;
  height: 24.5vh;
}